---
const { addressName, addressStreet, addressCity, phone, email, instagram } =
    Astro.props;
---

<!-- Address -->
<p class="address">{addressName}</p>
<p class="address">{addressStreet}</p>
<p class="address">{addressCity}</p>
<hr />
<p>Tel: {phone}</p>
<p>Email: {email}</p>
<div class="row text-center mobile-center">
    <div class="col-2">
        <a href={instagram}>
            <i class="fa-brands fa-instagram"></i>
        </a>
    </div>
</div>

<style>
    p {
        font-size: 1.2em !important;
    }

    .address {
        margin-bottom: 0em;
    }

    i {
        color: white;
        font-size: 2em;
        transition: all 0.2s ease-in-out;
    }

    i:hover {
        color: rgb(45, 45, 45);
    }
    @media (max-width: 576px) {
        .mobile-center {
            justify-content: center;
        }
    }
</style>
